@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: sans-serif;
    font-weight: 500;
    background-color: #EFEFE0;
    color: #3d3d3d;
}

img {
    border-radius: 10px;
    box-shadow: 3px 3px 8px #0008;
}

table {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form {
    width: 500px;
    border: 1px solid black; 
    background-color: #FBF3D1;
    border-radius: 10px;
}

a {
    font-weight: 600;
    color: #2448c0;
}

.txt {
    font-size: 1rem;
    background-color: #FBF3D1;
    border: none;
    border-bottom: 1px solid #B6AE9F;
    height: 20px;
    width: 80%;
    padding-left: 8px;
    transition: all .3s;
    border-radius: 4px 4px 0 0;
    min-width: 400px
}



.txt:hover {
    background-color: #0002;
}

.txt:focus {
    background-color: #0002;
    outline: none; 
}

.txt::placeholder {
    color: #8d8d8d;
}

button {
    min-width: 50px;
    /* height: 30px; */
    padding: 9px;
    font-size: 1rem;
    font-weight: 600;
    color: #44382b;
    background-color: #C2A68C;
    border: 1px solid #968e7f; 
    border-radius: 7px;
    box-shadow: 3px 3px 8px #0008;
    white-space:nowrap;
}

button:hover {
    background-color: #977e66;
}

button:active {
    background-color: #89715a;
}

.terms {
    margin: auto;
    text-align: center;
}
 
.form-label{
    margin-left: 44px;
}